{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template rb/filter

    Reportbuilder column

    Example context (json):
    {
        "fielducfirst": "Name",
        "field": "name"
    }
}}

        // {{ fielducfirst }} filter.
        $filters[] = (new filter(
            {{ typeclass }}::class,
            '{{ field }}',
            new lang_string('{{ stringidentifier }}', '{{ component }}'),
            $this->get_entity_name(),
            "{$tablealias}.{{ field }}"
        ))
{{#isselect}}
            ->add_joins($this->get_joins())
            ->set_options_callback(static function(): array {
                return []; // TODO populate options!
            });
{{/isselect}}
{{^isselect}}
            ->add_joins($this->get_joins());
{{/isselect}}
