{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template rb/datasource

    Contenttype content manager class.

    Context variables required for this template:
    * component
    * copyright

    Example context (json):
    {
        "component": "local_test",
        "copyright": "2022 Your name"
    }
}}
{{< tool_mhacker/rb/boilerplate_php }}
{{$ description }}Tests for reportbuilder datasource {{ name }}.{{/ description }}
{{$ package }}{{ component }}{{/ package }}
{{$ copyright }}{{ copyright }}{{/ copyright }}
{{$ namespace }}
namespace {{ component }}\reportbuilder\datasource;
{{/ namespace }}
{{$ use }}
{{{uses}}}
{{/ use }}
{{/ tool_mhacker/rb/boilerplate_php }}
class {{ name }}_test extends core_reportbuilder_testcase {
    /**
     * Stress test datasource
     *
     * In order to execute this test PHPUNIT_LONGTEST should be defined as true in phpunit.xml or directly in config.php
     */
    public function test_stress_datasource(): void {
        if (!PHPUNIT_LONGTEST) {
            $this->markTestSkipped('PHPUNIT_LONGTEST is not defined');
        }

        $this->resetAfterTest();

        $course = $this->getDataGenerator()->create_course();
        $user = $this->getDataGenerator()->create_user();

        $this->datasource_stress_test_columns({{ name }}::class);
        $this->datasource_stress_test_columns_aggregation({{ name }}::class);
        $this->datasource_stress_test_conditions({{ name }}::class, '{{ firstcolumn }}');
    }
}
